COMPOSE_PROJECT_NAME=joziba-api

# "docker-compose.yaml:docker-compose.prod.yaml" for production
# "docker-compose.yaml:docker-compose.stage.yaml" for stage
# "docker-compose.yaml:docker-compose.override.yaml" for local
# COMPOSE_FILE=

DOCKER_USER=1000:1000
# "host.docker.internal" for mac
DOCKER_ADDRESS=172.17.0.1
# 0.0.0.0 for external
HTTP_HOST=127.0.0.1
HTTP_PORT=8000

# В будущем генерировать через CI/CD
PROJECT_DOMAIN=joziba-api.ako.webtm.ru
ADMINER_DOMAIN=adminer-joziba-api.ako.webtm.ru

DB_HOST=database
DB_PORT=3306
DB_DATABASE=jozapi
DB_USERNAME=jozapi
DB_PASSWORD=jozapi

COOKIE_VALIDATION_KEY=8ZhdeMbWG46fws1ykuDY1jfHrOpi7e4b
